<div class="container border border-secondary p-4 mt-5 shadow rounded">
  <h3 class="text-center mb-4">Atualizar Usuário para id: {{id}}</h3>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="mb-2">
      <label class="form-label" for="firstName">Nome</label>
      <input
        id="firstName"
        formControlName="firstName"
        type="text"
        class="form-control"
      />
    </div>
    <div class="mb-2">
      <label class="form-label" for="lastName">Sobrenome</label>
      <input
        id="lastName"
        formControlName="lastName"
        type="text"
        class="form-control"
      />
    </div>
    <div class="mb-2">
      <label class="form-label" for="email">Email</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        class="form-control"
      />
    </div>
    <div class="mb-2">
      <label class="form-label" for="role">Perfil</label>
      <select id="role" formControlName="role" class="form-select">
        <option value="USER">USER</option>
        <option value="INSTRUCTOR">INSTRUCTOR</option>
        <option value="MANAGER">MANAGER</option>
        <option value="ADMIN">ADMIN</option>
      </select>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-4">
      <button class="btn btn-lg btn-primary" type="submit">Atualizar</button>
      <button class="btn btn-lg btn-danger" routerLink="/user">Cancelar</button>
    </div>
  </form>
</div>
