@import 'assets/styles/colors.scss';

body {
  background-color: var(--dark-bg) !important;
  color: var(--dark-text) !important;
}

.container-fluid, .min-body-height, [name="body"] {
  background-color: var(--dark-bg) !important;
  color: var(--dark-text) !important;
}

.cursor-disabled {
  cursor: not-allowed;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-move {
  cursor: move;
}
.cursor-grab {
  cursor: grab;
}
.cursor-default {
  cursor: default;
}


.btn-l_blue_1 {
  color: $white_1;
  background-color: $l_blue_1;
  border-color: $l_blue_1;
}

.btn-l_blue_2 {
  color: $white_1;
  background-color: $l_blue_2;
  border-color: $l_blue_2;
}

.btn-l_blue_3 {
  color: $white_1;
  background-color: $l_blue_3;
  border-color: $l_blue_3;
}

.btn-l_blue_4 {
  color: $white_1;
  background-color: $l_blue_4;
  border-color: $l_blue_4;
}

.btn-d_blue_1 {
  color: $white_1;
  background-color: $d_blue_1;
  border-color: $d_blue_1;
}

.btn-d_blue_2 {
  color: $white_1;
  background-color: $d_blue_2;
  border-color: $d_blue_2;
}

.btn-d_blue_3 {
  color: $white_1;
  background-color: $d_blue_3;
  border-color: $d_blue_3;
}

.btn-d_blue_4 {
  color: $white_1;
  background-color: $d_blue_4;
  border-color: $d_blue_4;
}

.btn-green_1 {
  color: $white_1;
  background-color: $green_1;
  border-color: $green_1;
  &:hover {
    background-color: rgba($green_2, 0.8);
  }
}

.btn-dark-green {
  color: var(--dark-text);
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}

.btn-dark-purple {
  color: var(--dark-text);
  background-color: var(--dark-purple);
  border-color: var(--dark-purple);
}
